nav a {
  font-size: 1.3rem;
}

.container-logo img {
  width: 320px;
}

.container-input2 {
  width: 330px;
}

.pais a {
  font-size: 1.3rem;
}

.container-left a {
  font-size: 1.3rem;
}

.container-right a {
  font-size: 1.3rem;
}